* {
  box-sizing: border-box;
}

.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background: linear-gradient(
    135deg,
    #2e7d32,
    #4caf50
  );
}

.login-card {
  width: 100%;
  max-width: 1100px;

  display: flex;

  background: rgba(255,255,255,.15);

  backdrop-filter: blur(20px);

  border-radius: 30px;

  overflow: hidden;

  box-shadow:
    0 20px 50px rgba(0,0,0,.2);
}

.login-left {
  flex: 1;

  color: white;

  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 3rem;
}

.login-left p {
  margin-top: 15px;

  font-size: 18px;

  line-height: 1.7;
}

.login-image {
  width: 100%;

  margin-top: 30px;

  border-radius: 20px;

  height: 280px;

  object-fit: cover;
}

.login-right {
  flex: 1;

  background: white;

  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 2.2rem;

  color: #1b5e20;
}

.subtitle {
  color: #777;

  margin-top: 8px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 15px 18px;

  margin-bottom: 18px;

  border: 1px solid #ddd;

  border-radius: 12px;

  font-size: 15px;

  outline: none;
}

.input-field:focus {
  border-color: #2e7d32;
}

.login-btn {
  border: none;

  background: linear-gradient(
    135deg,
    #2e7d32,
    #4caf50
  );

  color: white;

  padding: 15px;

  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
}

.error-message {
  color: red;

  margin-bottom: 15px;
}

.register-text {
  text-align: center;

  margin-top: 25px;

  color: #666;
}

.register-link {
  color: #2e7d32;

  margin-left: 8px;

  text-decoration: none;

  font-weight: 600;
}

/* Mobile */

@media screen and (max-width: 768px) {

  .login-card {
    flex-direction: column;
  }

  .login-left {
    padding: 30px;
  }

  .login-right {
    padding: 30px;
  }

  .login-left h1 {
    font-size: 2rem;
  }

}